<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="redirect1" stopProcessing="true">
                    <match url="bgruber.shtml" />
                    <action type="Redirect" url="/faculty/gruber.shtml" />
                </rule>
                <rule name="redirect2" stopProcessing="true">
                    <match url="mritenour.shtml" />
                    <action type="Redirect" url="/faculty/ritenour.shtml" />
                </rule>
                <rule name="redirect3" stopProcessing="true">
                    <match url="pstoffella.shtml" />
                    <action type="Redirect" url="/faculty/stoffella.shtml" />
                </rule>
				</rules>
        </rewrite>
    </system.webServer>
</configuration>
